.search-result {
    width: 96%;
    margin-left: 2%;
    background-color: white;
    border: 0.5px solid #e9e9e9;
    margin-bottom: 10px;
}

.search-result-header {
    width: 100%;
    height: 40px;
    display: flex;
}

.search-result-header h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 125px;
    height: inherit;
    line-height: 40px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(43, 43, 43);
    padding-left: 15px;
}

.inner-search-result {
    width: 100%;
}

.search-result-image {
    width: 10%;
    margin-left: 15px;
}

.search-result-image img {
    width: 41px;
    height: 41px
}

.search-result-content {
    width: 90%;
    display: flex;
}

.search-result-titles {
    width: 80%;
}

.search-result-titles h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-style: normal;
    color: #37373c;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1875rem;
}

.result-detail {
    width: 100%;
    font-weight: 400;
    color: #868e96;
    font-size: .8rem;
    letter-spacing: .018125rem;
    line-height: 1.125rem;
}

.result-text {
    width: calc(100% - 15px);
    color: #343a40;
    font-size: .875rem;
    letter-spacing: 0;
    line-height: 1.3125rem;
    margin-top: .5rem;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 2px;
}

.child-line:not(:last-child) {
    width: calc(100% - 15px);
    height: 1.5px;
    background-color: #EDEEF0;
    margin: 10px 0;
}